body {
  background-color: #FAFAE5;
  margin-left:20px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
  line-height: 150%;
}
body {
  font-size: 1.25em;
  font-family: Arial;
}
td {
  padding: 0 5px;
  line-height: 135%;
}
.comment {
	margin-left: 40px;
}
.intro {
	margin-bottom: 0.8cm;
}
